Content/AssetPacks/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Content/AssetPacks/**/*.umap filter=lfs diff=lfs merge=lfs -text
Content/AssetPacks/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Content/AssetPacks/**/*.png filter=lfs diff=lfs merge=lfs -text
Content/AssetPacks/**/*.wav filter=lfs diff=lfs merge=lfs -text
Content/AssetPacks/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
Content/Necropolis/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Content/Necropolis/**/*.umap filter=lfs diff=lfs merge=lfs -text
Content/Necropolis/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Content/Necropolis/**/*.png filter=lfs diff=lfs merge=lfs -text
Content/Necropolis/**/*.wav filter=lfs diff=lfs merge=lfs -text
Content/Necropolis/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
Content/Paragon*/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Content/Paragon*/**/*.umap filter=lfs diff=lfs merge=lfs -text
Content/Paragon*/**/*.fbx filter=lfs diff=lfs merge=lfs -text
Content/Paragon*/**/*.png filter=lfs diff=lfs merge=lfs -text
Content/Paragon*/**/*.wav filter=lfs diff=lfs merge=lfs -text
Content/Paragon*/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
